@font-face {
    font-family: 'Carolingia';  /* Define a name for the font */
    src: url('../assets/fonts/carolingia.ttf') format('truetype');  /* Point to the font file */
    font-weight: normal;  /* Set the font weight */
    font-style: normal;  /* Set the font style */
  }