@font-face {
    font-family: 'Carolingia';
    src: url('../assets/fonts/carolingia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kingthings-Petrock';
    src: url('../assets//fonts/Kingthings_Petrock.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
  }

  @font-face {
    font-family: 'Kingthings-Petrock-Light';
    src: url('../assets/fonts/Kingthings_Petrock_light.ttf') format('truetype');
    // font-weight: normal; 
    // font-style: normal;  
  }